rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /templates/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /project_templates/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /project_support/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /entrance_tests/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /course_modules/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /team/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /global_guidelines/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /global_mandates/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /corrections/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /submissions/{projectId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}
